build/
bin/
node_modules/
.env
.env.*
*.pbw
!release/*.pbw
*.log
*.pyc
__pycache__/
.lock-waf*

data/*
!data/.gitkeep
!data/.env.example

*.session
*.session-journal
pebble_screenshot_*.png
*:Zone.Identifier
